<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'SelMoreTemplates.html' %}
  {% block body %}
<form id="form1" name="form1" method="post" action="/stknoti">
  <table width="289" border="0">
    <tr>
      <td width="88">Category</td>
      <td width="8">&nbsp;</td>
      <td width="110"><label for="cat"></label>
        <select name="cat" id="cat" >
          <option value="">--Select--</option>
          {% for i in val %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
      </select></td>
      <td width="65">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Item Name</td>
      <td>&nbsp;</td>
      <td><label for="item"></label>
        <select name="item" id="item" >
          <option value="">--Select--</option>
      </select></td>
      <td><input type="submit" name="button" id="Search" value="Search" /></td>
    </tr>
  </table>
  <table width="200" border="1">
    <tr>
      <td>Product Name</td>
      <td>Stock</td>
      <td>&nbsp;</td>
    </tr>
     {% for d in val %}
    <tr>
      <td>{{d[1]}}</td>
      <td>{% if d[2]==0 %} out of stock {% else %} {{d[2]}} {% endif %}</td>
      <td><a href="{{url_for('Update_stock',id=d[0])}}">Update</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><div align="center">
        <input type="submit" name="button" id="button" value="Add Stock" />
      </div></td>
    </tr>
  </table>

</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

$(document).ready(function(){

    $("select#cat").change(function() {

        if ($(this).val() != 'Select') {

            var br = $('#cat option:selected').text();


            $.ajax({
                type: 'POST',
                url: "/index6",
                data: { sn: br },

                success: function(response) {


                var opt = '';
    for (var i=0, l=response.length; i<l; i=i+2)
    {
        opt+='<option value="'+response[i]+'">'+response[i+1]+'</option>';

}

 $('select#item').html('').prop('disabled',false)
    $('select#item').append(opt);
                }
            });
        }
        else {
            $('select#item').html('').prop('disabled',true);
        }
    });
});
</script>
{% endblock %}
<!--</body>-->
<!--</html>-->
