<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'SelMoreTemplates.html' %}
  {% block body %}
<form id="form1" name="form1" method="post" action="/Add_Off">
  <table width="527" border="0">
    <tr>
      <td>Category</td>
      <td>&nbsp;</td>
      <td><label for="cat"></label>
        <select name="cat" id="cat" required>
          <option value="">--Select--</option>
          {% for i in val %}
          <option value="{{i[0]}}">{{i[0]}}</option>
          {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="118">Item Name</td>
      <td width="6">&nbsp;</td>
      <td width="389"><label for="item"></label>
        <select name="item" id="item" required>
          <option value="">--Select--</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Offers</td>
      <td>&nbsp;</td>
      <td><label for="textarea"></label>
        <textarea name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Periods</td>
      <td>&nbsp;</td>
      <td><label for="textfield3"></label>
        <input type="date" name="textfield3" id="textfield3" required/>
        <label for="textfield4"></label>
        to
        <input type="date" name="textfield4" id="textfield4" required/>
        <label for="textfield4"></label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Original Price</td>
      <td>&nbsp;</td>
      <td><label for="textfield5"></label>
        <input type="text" name="textfield5" id="textfield5" required/></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><div align="center">
        <input type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

$(document).ready(function(){

    $("select#cat").change(function() {

        if ($(this).val() != 'Select') {

            var br = $('#cat option:selected').text();


            $.ajax({
                type: 'POST',
                url: "/index5",
                data: { de: br },

                success: function(response) {


                var opt = '';
    for (var i=0, l=response.length; i<l; i=i+2)
    {
        opt+='<option value="'+response[i]+'">'+response[i+1]+'</option>';

}

 $('select#item').html('').prop('disabled',false)
    $('select#item').append(opt);
                }
            });
        }
        else {
            $('select#item').html('').prop('disabled',true);
        }
    });
});
</script>
{% endblock %}
<!--</body>-->
<!--</html>-->
